.ant-select-multiple .ant-select-selector{
  background: none !important;
  border: none !important;
  white-space: nowrap;
  color:#000;
}
.ant-select-multiple {
  background-color: none !important;
  white-space: nowrap;
}
/* .ant-select-selector span{
  
  background-color: '#000';
  color:'#000';
} */
.ant-select-selector {
  /* padding-top:25px; */
  margin-top:25px;
  white-space: nowrap;
  background-color: none;
  margin-left: 10;
  min-width: 170px;
  text-overflow: ellipsis;

  max-width: 800px;
  /* width: 200px; */
}
.ant-select-arrow span{
  margin-top:10px;
  font-size:20px;
  /* width:100px;
  height:100px; */
}
.ant-select-selection-placeholder{
  color:#fff;
  font-size:15px;
  /* text-decoration: underline; */
  /* text-underline-position: under; */
  opacity:1 !important;
}